<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
     {{>navbar}}
    <!--- main header ---->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!----- left side div ---->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/Profile.jpg" alt="Hritik" class="img-fluid" title="Hritik"> 
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Weather app</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer </span>and a Theatre Artist.</h1>
                        <a href="https://www.linkedin.com/in/hritik-dixit-03657316a/" target="_blank"><button>About me</button></a>

                    </div>
                    <!----- right side div ---->
                    
                </div>

            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>